$white: #EFE9F4;
$darkBlue: #1a4753;
$blue: #9fd1de;

@import url('https://fonts.googleapis.com/css?family=Coiny');

body{
  font-family: 'Coiny', cursive;
  margin: 0;
  padding: 0;
}

@mixin userText(){
  color: #fff;
  text-shadow: 1px 1px 1px black;
}